{% extends "main/hat.html" %}

{% block title %}Northside Fan{% endblock title %}

{% block main %}
<main>
    <section class="admin_list_panel">
        <h1>Discord адміністраторів Northside</h1>
        <h3>Старші адміністратори</h3>
        <ul>
            <li>goshafromsiberia</li>
            <li>kanorichka</li>
            <li>morse0w0</li>
            <li>the_boogieman</li>
            <li>esteriy</li>
        </ul>

        <h3>Молодша адміністрація</h3>
        <ul>
            <li>haruspex_yura</li>
            <li>tuman1236</li>
            <li>luciferid</li>
            <li>mrkaratel</li>
            <li>akkermanova</li>
        </ul>
    </section>
</main>
{% endblock main %}

