<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Вхiд</title>
    <link rel="stylesheet" href="{% static "main/css/register.css" %}">
</head>
<body>
    <main>
        <header>Вхiд</header>
        <form method="post">
            {% csrf_token %}
            <p>Логiн</p>
            {{ form.username }}<br>
            <p>Пароль</p>
            {{ form.password }}<br>
            <button type="submit">Вхiд</button>
            <a href="{% url 'register'%}">У вас нема аккаунта?</a>
            <p class='error'>{{error}}</p>
        </form>
    </main>
</body>
</html>