{% extends "main/hat.html" %}

{% block title %}Northside Fan{% endblock title %}

{% block main %}
<main class="container">
    <article class="block block-intro">
        <h3>Northside group</h3>
        <p>Northside це найпопулярніша українська VR чат-спільнота на даний момент, а також це гарне місце для пошуку друзів</p>
    </article>
    <article class="block block-activities">
        <h3>Активності</h3>
        <p>У нас в світі багато захоплюючих активностей, наприклад: шахи, боулінг, радіомашини, а також кінотеатр і навіть buck shot roulete! Навіть якщо вам нема з ким поговорити, ви можете знайти, чим зайнятися</p>
    </article>
    <article class="block block-events">
        <h3>Івенти</h3>
        <p>На нашому <a href="https://discord.gg/ZZUKxzFK8r">сервері в дискорд</a> проводяться різні івенти починаючи з простих змаганнях у різній сфері діяльності, закінчуючи іграми - змагання на реальні гроші або наприклад гарнітуру на нашому сервері ви зможете показати на що ви здатні</p>
    </article>
    <article class="block block-optimization">
        <h3>Оптимізація</h3>
        <p>Наш світ має автоматичну оптимізацію для шоломів фпс високий (все залежить не від світу а від аватарів інших гравців) До речі ви можете самостійно налаштувати оптимізацію в деталях якщо вам це захочеться просто потрібно натиснути пару кнопок і все!</p>
    </article>
</main>
<footer>by kimka777 and popka_griba</footer>
{% endblock main %}

